;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[re-frame "1.1.1"]
                [re-graph "0.1.14"]
                [markdown-clj "1.11.2"]
                [metosin/reitit "0.5.13"]
                [metosin/reitit-schema "0.5.13"]
                [metosin/reitit-frontend "0.5.13"]
                [funcool/cuerdas "2.2.0"]
                ]
 :nrepl {:port 55555}
 :dev-http {8080 "public/"}
 :builds {:app-local {:output-dir "public/js"
                      :target :browser
                      :release {:closure-defines {genegraph-ui.FIREBASE_CONFIG_NAME "clingen-dev"
                                                  genegraph-ui.BACKEND_WS "ws://localhost:8888/ws"
                                                  genegraph-ui.BACKEND_HTTP "http://localhost:8888/api"}}
                      :modules {:genegraph-ui {:init-fn genegraph-ui/init}}}
          :app-dev {:output-dir "public/js"
                    :target :browser
                    :release {:closure-defines {genegraph-ui.FIREBASE_CONFIG_NAME "clingen-dev"
                                                genegraph-ui.BACKEND_WS "wss://genegraph-dev.clingen.app/ws"
                                                genegraph-ui.BACKEND_HTTP "https://genegraph-dev.clingen.app/api"}}
                    :modules {:genegraph-ui {:init-fn genegraph-ui/init}}}
          :app-ggdev {:output-dir "public/js"
                      :target :browser
                      :release {:closure-defines {genegraph-ui.FIREBASE_CONFIG_NAME "clingen-dev"
                                                  genegraph-ui.BACKEND_WS "wss://genegraph-gvdev.clingen.app/ws"
                                                  genegraph-ui.BACKEND_HTTP "https://genegraph-gvdev.clingen.app/api"}}
                      :modules {:genegraph-ui {:init-fn genegraph-ui/init}}}
          :app-stage {:output-dir "public/js"
                      :target :browser
                      :release {:closure-defines {genegraph-ui.FIREBASE_CONFIG_NAME "clingen-stage"
                                                  genegraph-ui.BACKEND_WS "wss://genegraph-stage.clingen.app/ws"
                                                  genegraph-ui.BACKEND_HTTP "https://genegraph-stage.clingen.app/api"}}
                      :modules {:genegraph-ui {:init-fn genegraph-ui/init}}}}}
