.home-search-main {
    background-image: url("/images/wrap-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.g-navbar {
    opacity: 0.1 ;
}

pre {
    white-space: pre-wrap;
}

.logo {
    font-family: stymie, serif;
}
